<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1> Items list</h1>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>job</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <% items.forEach(function(item) { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.job %></td>
            <td><a href="#" class="delete-link" data-item-id="<%= item.id %>">Delete</a></td>
        </tr>
    <% }); %>


    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('.delete-link').click(function(e) {
            e.preventDefault(); // Prevent the default link action
            var itemId = $(this).data('item-id'); // Get the item ID from the data-item-id attribute

            $.ajax({
                url: '/items/' + itemId, // Your endpoint
                type: 'DELETE',
                success: function(result) {
                    // Handle success, such as reloading the page or removing the item row from the table
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    // Handle error
                    console.log("Error: " + status + " " + error);
                }
            });
        });
    });
</script>

</body>
</html>