<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>

</head>

<%- include('partials/navigation') %>

<body>
<h1> Items list</h1>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>job</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <% items.forEach(function(item) { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.job %></td>
            <td><a href="#" class="delete-link" data-item-id="<%= item.id %>">Delete</a>
                <a href="/items/update/<%= item.id %>">Update</a></td>
        </tr>
    <% }); %>

    </tbody>
</table>
<script>
    $(document).ready(function () {
        $(".delete-link").click(async function (e) {
            e.preventDefault(); // Prevent the default link action

            var itemId = $(this).data('item-id'); // Get the item ID from the data-item-id attribute

            try {
                // Await the completion of the AJAX request
                await $.ajax({
                    url: '/items/' + itemId, // Your endpoint
                    type: 'DELETE',
                });

                // Handle success, such as reloading the page or removing the item row from the table
                //res.status(200).redirect('/')

                window.location.reload();

            } catch (error) {
                // Handle error
                console.log("Error: " + error.status + " " + error.statusText);
            }
        });
        /*
                ('.update-link').click(async function(e) {
                    e.preventDefault(); // Prevent the default link action
                    var itemId = $(this).data('item-id'); // Get the item ID from the data-item-id attribute

                    try {
                        // Await the completion of the AJAX request
                        await $.ajax({
                            url: '/items/' + itemId, // Your endpoint
                            type: 'PUT',
                        });

                        // Handle success, such as reloading the page or removing the item row from the table
                        window.location.reload();

                    } catch (error) {
                        // Handle error
                        console.log("Error: " + error.status + " " + error.statusText);
                    }
                });

        */


    });

</script>

</body>
</html>