<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<%- include('partials/navigation') %>


<h1> Album list</h1>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>image</th>
        <th>group</th>
        <th>description</th>

        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <% albums.forEach(function(album) { %>
        <tr>
            <td><%= album.id %></td>
            <td><%= album.title %></td>
            <td><img src="<%= album.image %>" class="albums_image"></td>
            <td><%= album.group %></td>
            <td><%= album.description %></td>

            <td><a href="#" class="delete-link" data-album-id="<%= album.id %>">Delete</a>

                <a href="/albums/update/<%= album.id %>">Update</a></td>
        </tr>
    <% }); %>

    </tbody>
</table>
<script>

    async function deleteAlbum(e) {
        e.preventDefault();
        var albumId = $(this).data('album-id');
        let url = '/albums/' + albumId

        try {
            // Await the completion of the AJAX request
            await $.ajax({
                url: url,
                type: 'DELETE'
            });

            window.location.reload();

        } catch (error) {
            // Handle error
            console.log("Error: " + error.status + " " + error.statusText);
        }
    }

    $(document).ready()
    {
        //$('.delete-link').off('click').on('click', deleteAlbum);
        $('.delete-link').click(deleteAlbum);
    }

</script>

</body>
</html>