<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>

</head>
<body>

<%- include('partials/navigation') %>


<h1> Groups list</h1>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>

        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <% groups.forEach((group)=> { %>
        <tr>
            <td><%= group.id %></td>
            <td><%= group.name %></td>
            <td><a href="#" class="delete-link" data-item-id="<%= group.id %>">Delete</a>
                <a href="/groups/update/<%= group.id %>">Update</a></td>
        </tr>
    <% }); %>

    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('.delete-link').click(async function (e) {
            e.preventDefault(); // Prevent the default link action
            var groupId = $(this).data('item-id'); // Get the item ID from the data-item-id attribute

            try {
                // Await the completion of the AJAX request
                await $.ajax({
                    url: '/groups/' + groupId, // Your endpoint
                    type: 'DELETE',
                });

                // Handle success, such as reloading the page or removing the item row from the table
                //res.status(200).redirect('/')
                window.location.reload();

            } catch (error) {
                // Handle error
                console.log("Error: " + error.status + " " + error.statusText);
            }
        });



    });

</script>

</body>
</html>